button {
  margin: 1em;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  table {
    width: fit-content;
    margin: 1em;
    border-collapse: separate;
    border-spacing: 1em;
    margin: 1em auto;

    tbody {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
    }

    tr {
      flex-grow: 1;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
