header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 1px 1px 2px 1px #3065b03d;
  background-color: #3065b0;

  .back-home {
    padding: 0.5em;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background: #1856ad;
    }
  }

  .title {
    font-weight: 600;
    font-size: 25px;
  }

  img {
    width: 100px;
  }
}
