section {
  margin-top: 50px;

  .search {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;

    div {
      margin-top: 0.5em;

      button {
        margin-left: 0.7em;
      }
    }
  }

  .result {
    margin-top: 2em;
    font-weight: 600;
    display: flex;
    gap: 1em;
    align-items: center;

    .pokemon-name {
      font-weight: 400;
    }
  }
}
